<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202506327366-t413fmgg9pp534ptvnts70bkjlc22uls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202506327366-t413fmgg9pp534ptvnts70bkjlc22uls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202506327366-ugiti0pig60k5c53ksk240fa0fuc399o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAnSAfdPZKmMKf9DbgUupmrhrmDyRKNQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>202506327366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biton.newspider3d</string>
	<key>PROJECT_ID</key>
	<string>spider-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>SpiderModels-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202506327366:ios:90a63fcc8a7f0941000147</string>
	<key>DATABASE_URL</key>
	<string>https://SpiderModels-flutter.firebaseio.com</string>
</dict>
</plist>